:root {
  font-family: "Almarai";
  color-scheme: light dark;
  color: black;
  background-color: #fff;
  direction: rtl;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: "Almarai";
}
input[type="button"] {
  font-family: "Almarai";
}

.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #849cbe !important;
  border-radius: 10px;
}
#scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #101b3b;
  border-radius: 10px;
}

#scrollBar::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: #101b3b;
}

#scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #001427;
}

@keyframes mymove {
  from {
    top: translate(0%, -1000%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes mymove2 {
  from {
    top: translate(0%, -1000%);
  }
  to {
    transform: translate(0%, 80%);
  }
}
