:root {
  font-family: "Almarai";
  color-scheme: light dark;
  color: black;
  background-color: #fff;
  direction: rtl;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

@keyframes mymove {
  from {
    top: translate(0%, -1000%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
